---
import LogoLoop from "@/components/LogoLoop";

const clientLogos = [
  {
    src: "https://sparkafrica.co/favicon.ico",
    alt: "Spark Africa Logo",
    href: "https://sparkafrica.co",
  },
  {
    src: "https://africatechnologyexpo.com/api/media/file/00002gv80vofw",
    alt: "Africa Technology Expo Logo",
    href: "https://africatechnologyexpo.com",
  },
  {
    src: "https://cms.africastartupfestival.com/media/asf-logo-black-000014beluj1c.webp",
    alt: "Africa Startup Festival Logo",
    href: "https://africastartupfestival.com",
  },
  {
    src: "/images/bolefestival_logo.webp",
    alt: "Bole Festival Logo",
    href: "https://bolefestival.com",
  },
  { src: "/images/straqa_logo.png", alt: "Straqa Logo", href: "https://usestraqa.com/" },
];
---

<div class="p-6 md:p-8 lg:p-10 xl:p-16">
  <LogoLoop
    logos={clientLogos}
    speed={120}
    direction="left"
    logoHeight={48}
    gap={80}
    pauseOnHover
    scaleOnHover
    fadeOut
    fadeOutColor="#f5f5f5"
    ariaLabel="Logos of companies I've worked with over the years"
    client:load
  />
</div>
