---
import Header from "./Header";
import { AnimatedButton } from "@/components/ui/animated-button";
---

<div>
  <div
    class='flex min-h-[70svh] flex-col space-y-10 rounded-[4rem] bg-[#f6f6f6] p-6 md:p-8 lg:p-10 xl:p-12'
  >
    <Header client:load />

    <div
      class='mx-auto flex max-w-2xl flex-1 flex-col items-center justify-center space-y-8 py-8 text-center'
    >
      <div class='group relative'>
        <img src='/headshot.png' class='size-32 rounded-full ring-4 ring-white grayscale-75' />
        <div class='absolute top-6 -right-28 -rotate-12'>
          <AnimatedButton size='sm' className='peer text-xs select-none' client:load
            >Solomon Momoh 👋🏾</AnimatedButton
          >
        </div>
      </div>
      <p
        class='from-secondary bg-gradient-to-br from-50% to-transparent bg-clip-text text-3xl text-transparent md:text-4xl lg:text-5xl xl:text-6xl'
      >
        Building digital products, brands, and experience.
      </p>
      <AnimatedButton variant='secondary' client:load>See latest projects</AnimatedButton>
    </div>
  </div>
</div>
